/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */


/* ---- layout ---- */


.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

body {
  height:800px;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 300px;
  width: 300px;
  position: relative;
  margin-left:0;
  transition: all 1s ease-out 0s;
}

form > * {
  max-width: 150px;
}

form .button {
  padding: 5px 30px;
  border-radius: 10px;
}

form button i:after{
  margin: 0;
  content: ' ';
  position: absolute;
  bottom: 0px;
  width:50px;
  height: 20px;
  background-image: url("dron_100.png");
  background-size: cover;
  font-weight: normal;
  font-style: normal;
  margin:0px 0px 0px 15px;
  text-decoration:none;
  transition: all 2s ease 0s;
}
form.away {
  transition: all 1s ease-out 2s;
  margin-left: -300px;
}

form.away button i:after{
  bottom:60%;
  margin-left: -50px;
}

#form-container {
  padding: 30px 0;
}

.message {
  border: none;
  background-color: transparent!important;
  color: black;
}
/* ---- header ---- */

/* ---- footer ---- */

/* ---- components ---- */

/* ---- css shame ---- */

