/* ---- reset ---- */

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: white;
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */


/* ---- layout ---- */

main {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 90vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#features-section > div {
  width: 70%; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature{
  display: flex;
  padding: 20px 50px;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.feature + .feature {
  margin:0 50px;
}

section {
  background: #504DAD;
  padding: 20px 0;
  height: 100%;
  min-width: 100vw;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  text-decoration:underline;
}

form input{
  margin-bottom: 15px;
}

form label{
  margin-bottom: 10px;
  font-size: 26px;
}

form {
  width: 100%;
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left:0;
  transition: all 1s ease-out 0s;
}

form div {
  display: flex;
  flex-direction: column;
}

form .button {
  padding: 5px 30px;
  border-radius: 10px;
}

form button i:after{
  content: ' ';
  position: absolute;
  bottom: 0px;
  width: 200px;
  right: -125px;
  height: 80px;
  background-image: url("./pictures/dron_button.png");
  background-size: cover;
  font-weight: normal;
  font-style: normal;
  text-decoration:none;
  transition: all 2s ease .6s;
}
form.away {
  transition: all 1s ease-out 2.6s;
  margin-left: -2600px;
}

form.away button i:after{
  bottom:600%;
  right: 100px;
}
h5 {
  font-size: 60px;
  text-align:center;
}
#form-container {
  padding: 30px 0;
}

#form-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#form-content input, label, select {
  width: 309px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  background: #504DAD;
  height: 47px;
}
#form-content input, select,textarea {
  border: 2px solid white;
  color:white;
}
input::placeholder {
  color: white;
  font-size: 20px;
}
#form-content textarea{
  width: 440px;
  border-radius: 10px;
  background: #504DAD;
  height: 290px;
}


.message {
  border: none;
  background-color: transparent!important;
  color: white;
}

.button-submit{
  font-size: 25px;
  padding: 5px;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- header ---- */

header {
  height: 10%;
  min-width: 100%;
  position: fixed;
  background: #504DAD;
}

.image1 {
  background-image: url('pictures/feature_dron.png');
  background-size: cover;
  height: 182px;
  width: 296px;
}

.image2 {
  background-image: url('pictures/feature_face.png');
  background-size: cover;
  height: 181px;
  width: 181px;
}
.image3 {
  background-image: url('pictures/feature_track.png');
  background-size: cover;
  height: 181px;
  width: 181px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #504DAD;
 }
 .nav-bar a {
   color: white;
   text-decoration: none;
 }
 .nav-list li {
  color: white;
  display: inline-block;
  padding-right: 20px;
 }

#submit {
  margin-top: 20px;
  padding: 33px 137px;
  background-color: white;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  position:relative;
}

#comment, #user{
  margin-bottom: 15px;
 
}
/* ---- footer ---- */

footer {
  height: 10vh;
  position: fixed;
}

footer ul {
  list-style-type: none;
}

img{
  width: 10%;
  height: 10%;
}
/* ---- components ---- */

/* ---- css shame ---- */